<li class="list-group-item" [ngClass]="{'list-group-item-success': postLoveIts > 0, 'list-group-item-danger': postLoveIts < 0}">
    <div class="row">
        <div class="col-xs-6">
            <h4 style="color:'changeColor()'"><strong>{{ postTitle }}</strong></h4>
        </div>
        <div class="col-xs-6 text-right">
            <em>{{ postCreatedAt | date: "short" }}</em>
        </div>
    </div>
    <p>{{ postContent }}</p>
    <button class="btn btn-success btn-margin" (click)="incLove()">Love it!</button>
    <button class="btn btn-danger" (click)="decLove()">Don't love it!</button>
</li>