<h2><strong>Posts</strong></h2>
<ul class="list-group">
  <app-post *ngFor="let post of tableau"
  [postTitle]="post.title"
  [postContent]="post.content"
  [postLoveIts]="post.loveIts"
  [postCreatedAt]="post.createdAt"></app-post>
</ul>